@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

<script>
    $("#easyui-rtljs").remove();
    $("#easyui-rtlcss").remove();
    $(function () {
        $("input[type=text]").validatebox();
        Search();
    });

    function Search() {
        var tabHeight = $(window).height();
        var name = encodeURI($("#UserName").val());
        var validate = $("#form1").form('validate');
        if (!validate) {
            return;
        } else {
            $("#dg").datagrid({
                url: "/News/GetList?title=" + $("#Title").val(),
                onLoadError: function (data) {
                    BaseHelper.ShowException(data);
                }
            });
        }
    }

    function LoadRecharge(userId) {
        $("#dgRecharge").datagrid({
            url: "/User/GetRechargeList?userId=" + userId,
            error: function (data) {
                BaseHelper.ShowException(data);
            }
        });
    }

    function Update(value, row) {
        var result = "<a href='javascript:void(0)' onclick='UpdateUser(\"" + row.Id + "\")'>编辑</a>  ";
        result += "<a href='javascript:void(0)' onclick='DelUser(\"" + row.Id + "\",\")'>删除</a>  ";
     
        return result;

    }

    function DelNews(id) {

        $.messager.confirm('温馨提示', '确定要删除新闻吗？', function (r) {
            if (r) {
                $.ajax({
                    type: "post",
                    url: "/News/DeleteNews",
                    data: { id: id },
                    success: function(data) {
                        if (data) {
                            alert("操作成功", "success", function() {
                                Search();
                            });
                        } else {
                            alert("操作失败", "error");
                        }
                    }
                });
            }
        });
    }

    function UpSetNews(id) {
        var url = "/News/UpSet?id=" + id;
        var title = '添加新闻'
        if (id > 0) {
            title = '修改新闻'
        }

        parent.f_addTab(title, title, url);
    }

    function Add(tid) {
        var src = "/Company/Add";
        var title = "添加";
        if (tid != '') {
            src += "?tid=" + tid;
            title = "修改";
        }
        parent.f_addTab('公司操作' + tid, '公司' + title, src);
    }

</script>

<form id="form1" class="easyui-doc-padding">
    <div id="toolbar">
        <div class="easyui-filter">
            <table>
                <tr>

                    <td>用户名称:</td>
                    <td><input type="text" id="Title" class="easyui-doc-textbox" validtype="Title" maxlength="20" /></td>
                    <td>
                        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
                        <a id="btnCreate" href="javascript:;" class="l-btn" onclick="UpSetNews(0)">
                            <span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">添加</span><span class="l-btn-icon icon-redo">&nbsp;</span></span>
                        </a>
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="easyui-doc-padding">
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;min-height:350px;"
               data-options="rownumbers:true,singleSelect:true,pagination:true,method:'post',pageSize:10,toolbar:'#toolbar'">
            <thead>
                <tr>
                    <th data-options="field:'Title',width:'15%',resizable:false,align:'left'">标题</th>
                    <th data-options="field:'NewsType',width:'5%',resizable:false,align:'left'">新闻类型</th>
                    <th data-options="field:'Operator',width:'10%',resizable:false,align:'left'">操作人</th>
                    <th data-options="field:'Source',width:'5%',resizable:false,align:'left'">来源</th>
                    <th data-options="field:'CreateTime',width:'10%',resizable:false,align:'left'">创建时间</th>

                    <th data-options="field:'Id',width:'15%',formatter:Update">操作</th>
                </tr>
            </thead>
        </table>

        
    </div>
</form>
