@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

<script src="~/Scripts/Ueditor/ueditor.config.js"></script>
<script src="~/Scripts/Ueditor/ueditor.all.min.js"></script>
<script src="~/Scripts/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    var ue = UE.getEditor('container');

    var id = "@Request.QueryString["Id"]";
    $(function () {
        if (id > 0) {
            loadTips.showLoading();
            BaseHelper.loadform("form1", "/News/GetNews?id=" + id, function (data) {
                ue.setContent(data.Content);
                loadTips.hideLoadind();
            });
        }
    })

    function Submit() {
       
        if (!$("#form1").form('validate')) {
            return false;
        }
      

        $("#id").val(id);
        loadTips.showLoading();
        var url = "/News/UpSetUser";
        $("#Content").val(ue.getContent());
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async: true,
            data: $("#form1").serialize(),
            success: function (data) {
                loadTips.hideLoadind();
                alert(data.message);
                if (data.success) {
                    parent.Search();
                    parent.layer.closeAll();
                }
            },
            error: function (data) {
                BaseHelper.ShowException(data);
            }
        });
    }

    function UploadTitleImage() {
        var filetype = $("input[name='UpLoad_fileType']:checked").val();
        $.layer({
            type: 2,
            title: '上传报告文件',
            iframe: { src: '@ViewBag.FileUpLoadUri?ProjectId=' + projectid },
            area: ['1000px', '500px'],
            close: function () {//关闭层的时候刷新列表
                Refresh();
            }
        });
    }


</script>

<form id="form1" class="easyui-doc-form">

    <input type="hidden" id="id" name="id" />
    <input type="hidden" id="Content" name="Content" />

    <table class="easyui-doc-table">
        <tr>
            <td width="100px">
                标题
            </td>
            <td>
                <input type="text" id="Title" name="Title" style="padding-left:5px; line-height:20px;width:300px;" class="easyui-validatebox textbox" missingmessage="请填写标题" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                来源
            </td>
            <td>
                <input type="text" id="Source" name="Source" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写来源" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                新闻类型
            </td>
            <td>
                <select id="NewsType" name="NewsType" class="easyui-doc-select">
                    <option></option>
                    @{foreach (var item in ViewBag.NewsType)
                        {
                            <option value="@item">@item</option>
                        }}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                新闻内容
            </td>
            <td>
                <!-- 加载编辑器的容器 -->
                <script id="container" name="content" type="text/plain" style="width:800px;height:500px;">
                </script>
            </td>
        </tr>
        <tr>
            <td>
                标题图片
            </td>
            <td>
                <img id="TitleImageUrl"  />
            </td>
            <td><a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="UploadTitleImage()">标题图片上传</a></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
                <a href="javascript:;" class="easyui-linkbutton" iconcls="icon-ok" id="submitform" onclick="Submit()">保存</a>
            </td>
        </tr>

    </table>
   

</form>
