@{
    Layout = "~/Views/Shared/_Page.cshtml";
}
<script>
    var id = "@Request.QueryString["Id"]";


    $(function () {
        if (tid > 0) {
            loadTips.showLoading();
            BaseHelper.loadform("form1", "/User/GetUser?id=" + id, function (data) {
                loadTips.hideLoadind();
            });
        }
    })

    function Submit() {
        if (!$("#form1").form('validate')) {
            return false;
        }


        $("#TID").val(tid);
        loadTips.showLoading();
        var url = "/User/SaveParameter";
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async: true,
            data: $("#form1").serialize(),
            success: function (data) {
                loadTips.hideLoadind();
                alert(data.message);
                if (data.success) {
                    if (pid > 0) {
                        parent.Search();
                        parent.parent.LoadTree();
                    } else {
                        parent.LoadTree();
                    }
                    parent.layer.closeAll();
                }
            },
            error: function (data) {
                BaseHelper.ShowException(data);
            }
        });
    }

</script>



<form id="form1" class="easyui-doc-form">

    <input type="hidden" id="id" name="id" />

    <table>
        <tr>
            <td>
                用户名称
            </td>
            <td>
                <input type="text" id="UserName" name="UserName" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写用户名称" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                昵称
            </td>
            <td>
                <input type="text" id="NickName" name="NickName" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写昵称" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                密码
            </td>
            <td>
                <input type="text" id="Password" name="Password" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写密码" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                电话
            </td>
            <td>
                <input type="text" id="Phone" name="Phone" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写电话" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                积分
            </td>
            <td>
                <input type="text" id="Integral" name="Integral" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写积分" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                头像
            </td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
                <a href="javascript:;" class="easyui-linkbutton" iconcls="icon-ok" id="submitform" onclick="Submit()">保存</a>
            </td>
        </tr>

    </table>
    </div>

</form>
