@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

<script>
    $("#easyui-rtljs").remove();
    $("#easyui-rtlcss").remove();
    $(function () {
        $("input[type=text]").validatebox();
        Search();
    });

    function Search() {
        var tabHeight = $(window).height();
        var name = encodeURI($("#UserName").val());
        var validate = $("#form1").form('validate');
        if (!validate) {
            return;
        } else {
            $("#dg").datagrid({
                url: "/Match/GetList?StartDate=" + $('#StartDate').datetimebox('getValue') + "&EndDate=" + $('#EndDate').datetimebox('getValue'),
                onLoadError: function (data) {
                    BaseHelper.ShowException(data);
                }
            });
        }
    }

    function Update(value, row) {
        var result = "<a href='javascript:void(0)' onclick='UpSetMatch(\"" + row.Id + "\")'>编辑</a>  ";
        result += "<a href='javascript:void(0)' onclick='DelMatch(\"" + row.Id + "\")'>删除</a>  ";

        return result;

    }

    function DelMatch(id) {

        $.messager.confirm('温馨提示', '确定要删除比赛吗？', function (r) {
            if (r) {
                $.ajax({
                    type: "post",
                    url: "/Match/DeleteMatch",
                    data: { id: id },
                    success: function (data) {
                        if (data) {
                            alert("操作成功", "success", function () {
                                Search();
                            });
                        } else {
                            alert("操作失败", "error");
                        }
                    }
                });
            }
        });
    }

    function UpSetMatch(id) {
        var url = "/Match/UpSet?id=" + id;
        var title = '添加比赛';
        if (id > 0) {
            title = '修改比赛';
        }

        $.layer({
            scrolling: 'auto',
            type: 2,
            title: title,
            iframe: {
                src: url
            },
            area: ['500px', '400px']
        });
    }
</script>

<form id="form1" class="easyui-doc-padding">
    <div id="toolbar">
        <div class="easyui-filter">
            <table>
                <tr>

                    <td>开始时间:</td>
                    <td><input type="text" id="StartDate" class="easyui-datetimebox" /></td>
                    <td>结束时间:</td>
                    <td><input type="text" id="EndDate" class="easyui-datetimebox" /></td>
                    <td>
                        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
                        <a id="btnCreate" href="javascript:;" class="l-btn" onclick="UpSetMatch(0)">
                            <span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">添加</span><span class="l-btn-icon icon-redo">&nbsp;</span></span>
                        </a>
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="easyui-doc-padding">
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;min-height:350px;"
               data-options="rownumbers:true,singleSelect:true,pagination:true,method:'post',pageSize:10,toolbar:'#toolbar'">
            <thead>
                <tr>
                    <th data-options="field:'TeamA',width:'10%',resizable:false,align:'left'">主队</th>
                    <th data-options="field:'TeamB',width:'10%',resizable:false,align:'left'">客队</th>
                    <th data-options="field:'Dish',width:'10%',resizable:false,align:'left'">盘口数据</th>
                    <th data-options="field:'Venue',width:'10%',resizable:false,align:'left'">比赛地点</th>
                    <th data-options="field:'MatchTime',width:'10%',resizable:false,align:'left'">比赛时间</th>
                    <th data-options="field:'MatchState',width:'10%',resizable:false,align:'left'">状态</th>
                    <th data-options="field:'CreateTime',width:'10%',resizable:false,align:'left'">创建时间</th>
                    <th data-options="field:'Operator',width:'10%',resizable:false,align:'left'">操作人</th>
                    <th data-options="field:'Id',width:'15%',formatter:Update">操作</th>
                </tr>
            </thead>
        </table>


    </div>
</form>
