@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

<script>
    $("#easyui-rtljs").remove();
    $("#easyui-rtlcss").remove();
    $(function () {
        $("input[type=text]").validatebox();
        Search();
    });

    function Search() {
        var tabHeight = $(window).height();
        var name = encodeURI($("#UserName").val());
        var validate = $("#form1").form('validate');
        if (!validate) {
            return;
        } else {
            $("#dg").datagrid({
                url: "/Promote/GetList?" + $("#form1").serialize(),
                onLoadError: function (data) {
                    BaseHelper.ShowException(data);
                }
            });
        }
    }

    function Update(value, row) {
        var result = "<a href='javascript:void(0)' onclick='UpSetPromote(\"" + row.Id + "\")'>编辑</a>  ";
        if (row.State == "未开始")
            result += "<a href='javascript:void(0)' onclick='DelPromote(\"" + row.Id + "\")'>删除</a>  ";
        //if (row.IsSend != "是") {
        //    result += "<a href='javascript:void(0)' onclick='SendPromote(\"" + row.Id + "\")'>发送</a>  ";
        //}
        return result;

    }

    function DelPromote(id) {

        $.messager.confirm('温馨提示', '确定要删除推介吗？', function (r) {
            if (r) {
                $.ajax({
                    type: "post",
                    url: "/Promote/DeletePromote",
                    data: { id: id },
                    success: function (data) {
                        if (data.success) {
                            alert("操作成功", "success", function () {
                                Search();
                            });
                        } else {
                            alert(data.message, "error");
                        }
                    }
                });
            }
        });
    }

    function SendPromote(id) {
        $.messager.confirm('温馨提示', '确定要发送推介吗？', function (r) {
            if (r) {
                $.ajax({
                    type: "post",
                    url: "/Promote/SendPromote",
                    data: { id: id },
                    success: function (data) {
                        if (data) {
                            alert("发送成功", "success", function () {
                                Search();
                            });
                        } else {
                            alert("操作失败", "error");
                        }
                    }
                });
            }
        });
    }


    function UpSetPromote(id) {
        var url = "/Promote/UpSet?id=" + id;
        var title = '添加推介'
        if (id > 0) {
            title = '修改推介'
        }

        parent.f_addTab(title, title, url);
    }
</script>

<form id="form1" class="easyui-doc-padding">
    <div id="toolbar">
        <div class="easyui-filter">
            <table>
                <tr>

                    <td>开始时间:</td>
                    <td><input type="text" id="StartDate" class="easyui-datetimebox" /></td>
                    <td>结束时间:</td>
                    <td><input type="text" id="EndDate" class="easyui-datetimebox" /></td>
                    <td>
                    <td>
<td>竞彩类型:</td>
                    <td><select id="RaceType" name="RaceType" class="easyui-doc-select">
                            <option></option>
                            @{foreach (var item in ViewBag.RaceType)
                                {
                                    <option value="@item">@item</option>
                                }}
                        </select></td>
                    <td>
                        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
                        <a id="btnCreate" href="javascript:;" class="l-btn" onclick="UpSetPromote(0)">
                            <span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">添加</span><span class="l-btn-icon icon-redo">&nbsp;</span></span>
                        </a>
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="easyui-doc-padding">
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;min-height:350px;"
               data-options="rownumbers:true,singleSelect:true,pagination:true,method:'post',pageSize:10,toolbar:'#toolbar'">
            <thead>
                <tr>
                    <th data-options="field:'RaceType',width:'6%',resizable:false,align:'left'">竞彩类型</th>
                    <th data-options="field:'Level',width:'3%',resizable:false,align:'left'">星数</th>
                    <th data-options="field:'IsVip',width:'3%',resizable:false,align:'left'">是否VIP</th>
                    <th data-options="field:'Price',width:'5%',resizable:false,align:'left'">价格</th>
                    <th data-options="field:'Integral',width:'5%',resizable:false,align:'left'">积分</th>
                    <th data-options="field:'State',width:'10%',resizable:false,align:'left'">状态</th>
                    <th data-options="field:'IsReturn',width:'8%',resizable:false,align:'left'">是否退款</th>
                    <th data-options="field:'MatchName',width:'10%',resizable:false,align:'left'">比赛</th>
                    <th data-options="field:'CreateTimeStr',width:'10%',resizable:false,align:'left'">创建时间</th>
                    <th data-options="field:'UserCount',width:'10%',resizable:false,align:'left'">已购买人数</th>
                    <th data-options="field:'Operator',width:'10%',resizable:false,align:'left'">发布者</th>
                    <th data-options="field:'Id',width:'15%',formatter:Update">操作</th>
                </tr>
            </thead>
        </table>


    </div>
</form>
