@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}


<div class="register v-transition" id="reg">
    <!-- <div class="top button-fill button-danger">注册</div> -->
    <header class="bar bar-nav">
        <h1 class="title button-fill button-danger">注册</h1>
    </header>
    <div class="inputbox content">
        <div class="phone">
            <input class="phonenum" type="text" placeholder="请输入手机号" v-model="regInfo.phone">
            <span class="nosend button button-danger" v-on:click="getCode(regInfo.phone)">发送验证码</span>
            <span class="asend" style="display: none;">60秒后可重发</span>
        </div>
        <div class="code">
            <input class="codenum" type="text" placeholder="请输入短信验证码" v-model="regInfo.code">
            <span></span>
        </div>
        <div class="psw">
            <input class="pswin" type="password" placeholder="请输入密码" v-model="regInfo.pwd">
            <span></span>
        </div>
        <div class="psw">
            <input class="pswin" type="password" placeholder="请再次输入密码" v-model="regInfo.repwd">
            <span></span>
        </div>
        <div class="btn button button-fill button-danger" v-on:click="reg()">注&nbsp;&nbsp;&nbsp;&nbsp;册</div>
    </div>

</div>


<script>
    (function (Vue, $, api) {
        var vm = new Vue({
            el: '#reg',
            data: {
                regInfo: {}
            },
            methods: {
                reg: function () {
                    var i = /^1[34578]\d{9}$/;
                    var t = /^[0-9a-zA-Z]{6,}$/;
                    if (!this.regInfo.phone || !this.regInfo.pwd || !this.regInfo.code || !this.regInfo.repwd) {
                        return $.toast('请填写完整信息！');
                    } else if (!i.test(this.regInfo.phone)) {
                        return $.toast('手机号有误');
                    } else if (!t.test(this.regInfo.pwd)) {
                        return $.toast('密码至少6位');
                    } else if (this.regInfo.pwd != this.regInfo.repwd) {
                        return $.toast('两次输入的密码不一致');
                    } else {
                        $.alert(this.regInfo.phone);
                        return $.toast('请输入正确的验证码');
                    }
                    $.showIndicator();
                    api.reg_action().then(function (result) {
                        this.banners = banners;
                        $.hideIndicator();
                    }.bind(this), function (e) {
                        $.alert(e);
                        $.hideIndicator();
                    });
                },
                getCode: function (phone) {
                    $.alert(phone);
                    api.get_code(phone).then(function (result) {
                        this.banners = banners;
                        $.hideIndicator();
                    }.bind(this), function (e) {
                        $.alert(e);
                        $.hideIndicator();
                    });
                }
            },
            ready: init(function () {
                //$.scope().banners$$load();
            })
        });
    })(Vue, Zepto, jQuery.api);

    function Submit() {
        var url = "/WechatReg/Register";
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async: true,
            data: $("#form1").serialize(),
            success: function (data) {

                if (data.success) {
                    alert("注册成功");
                    //window.location.href = "/WechatLogin/Login"
                }
                else {
                    alert(data.message);
                }
            },
        });
    }

    function SendCode() {
        var url = "/WechatReg/SendCode";
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async: true,
            data: $("#form1").serialize(),
            success: function (data) {

                if (data.success) {
                    $("#spanReSend").show();
                    alert("验证码已经成功发送到手机");
                    //window.location.href = "/WechatLogin/Login"
                }
                else {
                    alert(data.message);
                }
            },
        });
    }
</script>