@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/plug-in/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/plug-in/easyui/themes/icon.css?v=2.3" rel="stylesheet" />
    <link href="~/Content/css/loadTips/loadTips.css?v=2.3" rel="stylesheet" />
    <link href="~/Content/css/index.css?v=2.8" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/plug-in/easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/plug-in/layer/layer.min.js?v=1.14"></script>
    <script src="~/Content/plug-in/jquery-validation/jquery.metadata.js"></script>
    <script src="~/Content/plug-in/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/plug-in/jquery-validation/messages_cn.js"></script>
    <script src="~/Content/plug-in/easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/plug-in/easyui/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>
    <script src="~/Content/plug-in/js/validataboxextend.js"></script>
    <script src="~/Scripts/Base.js?v=1.07"></script>
    <title></title>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            if (window.location.hostname == "pep.yunfangdata.com") {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?34629db944cb5fb793c52ca4e31bc41e";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            }
        })();
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
