@{
    Layout = null;
}

<!DOCTYPE html>

<html class="f-oh">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
</head>
<body class="f-oh">
    <div class="errorpage">
        <div class="errorwrap">
            <div class="icloud"></div>
            <div class="f-cf">
                <div class="f-fl icloud_title"></div>
                <div class="f-fl">
                    <h3>您好，由于您人品大爆发，当前页面出现未知异常，请刷新当前选项卡再次访问。</h3>
                    <h3>如有其它问题，请及时与系统运维人员联系！</h3>
                </div>
            </div>
        </div>
    </div>


</body>
</html>