@{
    Layout = "~/Views/Shared/_Page.cshtml";
}
<script>
    var id = "@Request.QueryString["Id"]";

    function Submit() {
        if (!$("#form1").form('validate')) {
            return false;
        }

        $("#id").val(id);
        loadTips.showLoading();
        var url = "/User/UpdatePassword";
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async: true,
            data: $("#form1").serialize(),
            success: function (data) {
                loadTips.hideLoadind();
                alert(data.message);
                if (data.success) {
                    parent.Search();
                    parent.layer.closeAll();
                }
            },
            error: function (data) {
                BaseHelper.ShowException(data);
            }
        });
    }

</script>

<form id="form1" class="easyui-doc-form">

    <input type="hidden" id="id" name="id" />
    <input type="hidden" id="remark" name="remark" />

    <table class="easyui-doc-table">
        <tr>
            <td>
                用户密码
            </td>
            <td>
                <input type="text" id="Password" name="Password" style="padding-left:5px; line-height:20px;" class="easyui-validatebox numberbox" missingmessage="请输入密码" required="true" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <a href="javascript:;" class="easyui-linkbutton" iconcls="icon-ok" id="submitform" onclick="Submit()">保存</a>
            </td>
        </tr>

    </table>
    </div>

</form>
