@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Content/plug-in/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/plug-in/easyui/themes/icon.css?v=2.3" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="~/Content/plug-in/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="~/Content/plug-in/easyui/locale/easyui-lang-zh_CN.js" charset="utf-8" type="text/javascript"></script>
    <script src="~/Content/plug-in/layer/layer.min.js?v=1.14"></script>
    <script src="~/Scripts/Base.js?v=1.07"></script>
    <link href="~/Content/css/picDialog.css?v=1.4.9" rel="stylesheet" />
    <link href="~/Content/css/loadTips/loadTips.css?v=2.3" rel="stylesheet" />
    <!--[if IE 6]>
        <script src="~/Content/plug-in/picture/ie6PNG.js" type="text/javascript"></script>
        <script type="text/javascript">DD_belatedPNG.fix('*');</script>
    <![endif]-->
</head>
<body>
    @RenderBody()
</body>
</html>