@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>好波6388</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/??sm.min.css,sm-extend.min.css">
    <!-- <link rel="stylesheet" href="./css/layer.css"> -->
    <!-- inject:css -->
    
    <link href="~/Content/css/dingding.icon.css?v=@HttpContext.Current.Application["JSVersion"]" rel="stylesheet" />
    <link href="~/Content/css/dingding.main.css?v=@HttpContext.Current.Application["JSVersion"]" rel="stylesheet" />
    <link href="~/Scripts/layer_mobile/need/layer.css?v=@HttpContext.Current.Application["JSVersion"]" rel="stylesheet" />
    <link href="~/Content/css/wangEditor.min.css?v=@HttpContext.Current.Application["JSVersion"]" rel="stylesheet" />
    <!-- endinject -->
  
   
</head>
    <body>
        <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
        <script type="text/javascript">$.config = { router: false };</script>
        <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
        <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/??sm.min.js,sm-extend.min.js' charset='utf-8'></script>
        <script type="text/javascript" src="//g.alicdn.com/msui/sm/0.6.2/js/sm-city-picker.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
        <script type='text/javascript' src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js'></script>
        <script src="~/Scripts/layer_mobile/layer.js"></script>
        <!-- inject:js -->
        <script src="~/Scripts/dingding.api.js?v=@HttpContext.Current.Application["JSVersion"]"></script>
        <script src="~/Scripts/dingding.common.js?v=@HttpContext.Current.Application["JSVersion"]"></script>
        <script src="~/Scripts/dingding.directive.js?v=@HttpContext.Current.Application["JSVersion"]"></script>
        <script src="~/Scripts/wangEditor.min.js"></script>
        @*<script src="~/Scripts/layer.js"></script>*@
        <!-- endinject -->
        <script type="text/javascript">
            function WechatAlert(msg) {
                layer.open({
                    content: msg
                               , skin: 'msg'
                               , time: 1 //1秒后自动关闭
                });
            }

        </script>
        @RenderBody()
    </body>
</html>

