@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>好波360</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/??sm.min.css,sm-extend.min.css">
    <!-- <link rel="stylesheet" href="./css/layer.css"> -->
    <!-- inject:css -->
    
    <link href="~/Content/css/dingding.icon.css" rel="stylesheet" />
    <link href="~/Content/css/dingding.main.css" rel="stylesheet" />
    <link href="~/Scripts/layer_mobile/need/layer.css" rel="stylesheet" />
    <!-- endinject -->
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js'></script>
    <script type="text/javascript">$.config = {router: false};</script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js'></script>
    <script type="text/javascript" src="//g.alicdn.com/msui/sm/0.6.2/js/sm-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
    <script type='text/javascript' src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js'></script>
    <script src="~/Scripts/layer_mobile/layer.js"></script>
    <!-- inject:js -->
    <script src="~/Scripts/dingding.api.js"></script>
    <script src="~/Scripts/dingding.common.js"></script>
    <script src="~/Scripts/dingding.directive.js"></script>
    <script src="~/Scripts/layer.js"></script>
    <!-- endinject -->
   
</head>
<body>
   
        
        @RenderBody()
  
   
</body>
</html>

