@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}


<div class="page" id="index">
    <header class="bar bar-nav">
        <h1 class="title button-fill button-danger">{{items[0].RaceType}}</h1>

    </header>
    <div class="vip content">
        
        <div class="spotDetail">
            <ul class="list" v-for="yq in items">
                <li>
                    <div class="tit">
                        <i></i>
                        <span>比赛：{{yq.MatchName}}</span><span class="publisher">发布者：{{yq.Operator}}</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>开赛时间：{{yq.MatchTime }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState">
                        <i></i>
                        <span>推介：{{yq.Content }}</span>
                    </div>
                    <div class="analysis" v-if="yq.BuyState">
                        <i></i>
                        <span>分析：{{yq.Result }}</span>
                    </div>
                    <div class="recommend" v-show="yq.BuyState">
                        <i></i>
                        <span>推介价格：<em v-text="yq.Price"></em>V币</span>
                        <p><a href="#" class="button button-fill button-danger">购买 </a></p>
                    </div>
                    @*<div class="tip" >
                    推荐度
                    <i class='star'></i>

                </div>*@
                    <div class="tip">

                        {{{yq.LevelStr}}}

                    </div>

            </ul>
        </div>
        
        
    </div>
    <!-- <nav class="bar bar-tab">
        <a v-bind:href="tab.href"
           class="tab-item {{tab.active?'active':''}}"
           v-for="tab in tabs">
            <i class="{{tab.icon}} {{tab.active?'press':''}}"></i>
            <span class="tab-label" v-text="tab.text"></span>
        </a>
    </nav> -->

</div>



<script type="text/javascript">
    (function (Vue, $, api) {
        window.vm = new Vue({
            el: '#index',
            data: {
                items: []
            },
            methods: {
                pageload: function (raceType) {
                    api.promoteAll(raceType).then(function (data) {
                        this.items = data;
                        $.hideIndicator();
                    }.bind(this), function (e) {
                        $.alert(e);
                        $.hideIndicator();
                    });
                   

                }
            },
            ready: init(function () {
                $.scope().pageload(window.getParam('raceType'));
            })
        });
    })(Vue, Zepto, jQuery.api);</script>