@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}


<div class="page" id="index">
    <header class="bar bar-nav">
        <h1 class="title button-fill button-danger">专业推介</h1>

    </header>
    <div class="vip content">
        <ul class="expert cls">
            <li v-for="user in users">
                <a v-bind:href="'/WechatPromote/UserPromoteDetail?userid='+ user.Id">
                    <span class="img">
                        <em><img v-bind:src="user.IconUrl"></em>
                    </span>
                    <span v-text="user.NickName"></span>
                </a>
            </li>
            <li><a href="/WechatUser/UserList?isAdmin=true"><span class="img"><em></em></span><span>更多</span></a></li>
        </ul>
        <div class="spotDetail">
            <div class="list-nav">让球<a href="/WechatPromote/PromoteTypeList?raceType=1&promoteType=1"><span class="more">更多</span></a></div>
            <ul class="list" v-for="yq in yangqiu">
                <li>
                    <div class="tit">
                        <i></i>
                        <span>比赛：{{yq.MatchName}}</span><span class="publisher">发布者：{{yq.Operator}}</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>开赛时间：{{yq.MatchTime }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState==true">
                        <i></i>
                        <span>推介：{{{yq.Content }}}</span>
                    </div>
                    <div class="analysis" v-if="yq.BuyState==true">
                        <i></i>
                        <span>分析：{{yq.Result }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState==false">
                        <i></i>
                        <span v-if="yq.IsVip == '是'">VIP推介：<em v-text="yq.Price"></em>V币</span>
                        <span v-else>推介：<em v-text="yq.Price"></em>V币</span>
                        <p  v-on:click="buyPromote(yq.Id)" ><a href="#" class="button button-fill button-danger">购买 </a></p>
                    </div>
                    <div class="tip">

                        {{{yq.LevelStr}}}

                    </div>
                    <div class="reward" v-on:click="reward(yq.Id

)" style="text-align: center;">
                        <span class="good"></span>
                    </div>
                    </li>
            </ul>
        </div>
        <div class="spotDetail">
            <div class="list-nav">竞彩<a href="/WechatPromote/PromoteTypeList?raceType=2&promoteType=1"><span class="more">更多</span></a></div>
            <ul class="list" v-for="yq in jingcai">
                <li>
                    <div class="tit">
                        <i></i>
                        <span>比赛：{{yq.MatchName}}</span><span class="publisher">发布者：{{yq.Operator}}</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>开赛时间：{{yq.MatchTime }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState==true">
                        <i></i>
                        <span>推介：{{{yq.Content }}}</span>
                    </div>
                    <div class="analysis" v-if="yq.BuyState==true">
                        <i></i>
                        <span>分析：{{yq.Result }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState==false">
                        <i></i>
                        <span v-if="yq.IsVip == '是'">VIP推介：<em v-text="yq.Price"></em>V币</span>
                        <span v-else>推介：<em v-text="yq.Price"></em>V币</span>
                        <p  v-on:click="buyPromote(yq.Id)" ><a href="#" class="button button-fill button-danger">购买 </a></p>
                    </div>
                   
                    <div class="tip">

                        {{{yq.LevelStr}}}

                    </div>
                    <div class="reward" v-on:click="reward(yq.Id

)" style="text-align: center;">
                        <span class="good"></span>
                    </div>
                    </li>

            </ul>
        </div>
       
   
        <div class="spotDetail">
            <div class="list-nav">足彩301<a href="/WechatPromote/PromoteTypeList?raceType=3&promoteType=1"><span class="more">更多</span></a></div>
            <ul class="list" v-for="yq in zucai">
                <li>
                    <div class="tit">
                        <i></i>
                        <span>比赛：{{yq.MatchName}}</span><span class="publisher">发布者：{{yq.Operator}}</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>开赛时间：{{yq.MatchTime }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState==true">
                        <i></i>
                        <span>推介内容：{{{yq.Content }}}</span>
                    </div>
                    <div class="analysis" v-if="yq.BuyState==true">
                        <i></i>
                        <span>分析：{{yq.Result }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState==false">
                        <i></i>
                        <span v-if="yq.IsVip == '是'">VIP推介：<em v-text="yq.Price"></em>V币</span>
                        <span v-else>推介：<em v-text="yq.Price"></em>V币</span>
                        <p  v-on:click="buyPromote(yq.Id)" ><a href="#" class="button button-fill button-danger">购买 </a></p>
                    </div>

                    <div class="tip">
                        {{{yq.LevelStr}}}
                    </div>
                    <div class="reward" v-on:click="reward(yq.Id)" style="text-align: center;">
                        <span class="good"></span>
                    </div>
            </ul>
        </div>
    
</div>
    </div>


<script type="text/javascript">
    (function (Vue, $, api) {
        window.vm = new Vue({
            el: '#index',
            data: {
                banners: [],
                tabs: [
                    { icon: 'icon shouye', text: '首页', active: true, href: 'index.html' },
                    { icon: 'icon dingdan', text: '订单', href: 'order.html' },
                    { icon: 'icon wode', text: '我的', href: 'profile.html' }
                ],
                users: [],
                yangqiu: [],
                jingcai: [],
                zucai: []
            },
            methods: {
                banners$$load: function () {
                    var index = layer.open({type: 2,shadeClose:false});
                    //api.get_weixin_banner().then(function (banners) {
                    //    this.banners = banners;
                    //    layer.close(index);
                    //}.bind(this), function (e) {
                    //    $.alert(e);
                    //    layer.close(index);
                    //});
                    api.getusers(7,1,true).then(function (data) {
                        this.users = data;
                        layer.close(index);
                    }.bind(this), function (e) {
                        $.alert(e);
                        layer.close(index);
                    });
                    api.promote('让球', 1).then(function (data) {
                        this.yangqiu = data;
                        layer.close(index);
                    }.bind(this), function (e) {
                        $.alert(e);
                        layer.close(index);
                    });
                    api.promote('竞彩', 1).then(function (data) {
                        this.jingcai = data;
                        layer.close(index);
                    }.bind(this), function (e) {
                        $.alert(e);
                        layer.close(index);
                    });
                    api.promote('足彩310', 1).then(function (data) {
                        this.zucai = data;
                        layer.close(index);
                    }.bind(this), function (e) {
                        $.alert(e);
                        layer.close(index);
                    });
                   

                },
                buyPromote: function (promoteId) {
                    $.confirm('确定要购买吗？', function() {
                        var index = layer.open({ type: 2, shadeClose: false });
                        api.buyPromote(promoteId).then(function (data) {
                            $.alert(data);
                            $.scope().banners$$load();
                            layer.close(index);
                        }.bind(this), function (e) {
                            $.alert(e);
                            layer.close(index);
                        });
                    });
                },
                reward: function (id) {
                    $.prompt('请输入打赏金额', function (value) {
                        api.reward(id, value).then(function (data) {
                            $.alert(value);
                            $.scope().banners$$load();
                            layer.close(index);
                        }.bind(this), function (e) {
                            $.alert(e);
                            layer.close(index);
                        });
                    });
                }

            },
            ready: init(function () {
                $.scope().banners$$load();
            })
        });
    })(Vue, Zepto, jQuery.api);</script>