@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}


<div class="page" id="index">
    <header class="bar bar-nav">
        <h1 class="title button-fill button-danger">专业推介</h1>
        
    </header>
    <div class="vip content">
        <ul class="expert cls">
            <li>
                <a href="javascript:void(0);">
                    <span class="img">
                        <em><img src="http://wx.img.6383.com/ImgServer/Down?id=be9f43a2-0a65-451b-937b-988e194077c6"></em>
                    </span>
                    <span>何辉</span>
                </a>
            </li>
            <li><a href="/expert.html"><span class="img"><em><img src="../images/more.png"></em></span><span>更多</span></a></li>
        </ul>
        <div class="spotDetail" >
            <div class="list-nav">让球<span class="more">更多</span></div>
            <ul class="list" v-for="yq in yangqiu">
                <li>
                    <div class="tit">
                        <i></i>
                        <span>比赛：{{yq.MatchName}}</span><span class="publisher">发布者：{{yq.Operator}}</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>开赛时间：{{yq.MatchTime }}</span>
                    </div>
                    <div class="recommend">
                        <i></i>
                        <span>推介价格：<em v-text="yq.Price"></em>V币</span>
                        <p><a href="#" class="button button-fill button-danger">购买 </a></p>
                    </div>
                    @*<div class="tip" >
                推荐度
                <i class='star'></i>

            </div>*@
                <div class="tip">
                
                    {{{yq.LevelStr}}}
                   
                </div>
             
            </ul>
        </div>
        <div class="spotDetail">
            <div class="list-nav">竞彩<span class="more">更多</span></div>
            <ul class="list" v-for="yq in jingcai">
                <li>
                    <div class="tit">
                        <i></i>
                        <span>比赛：{{yq.MatchName}}</span><span class="publisher">发布者：{{yq.Operator}}</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>开赛时间：{{yq.MatchTime }}</span>
                    </div>
                    <div class="recommend">
                        <i></i>
                        <span>推介价格：<em v-text="yq.Price"></em>V币</span>
                        <p><a href="#" class="button button-fill button-danger">购买 </a></p>
                    </div>
                    @*<div class="tip" >
                推荐度
                <i class='star'></i>

            </div>*@
                    <div class="tip">

                        {{{yq.LevelStr}}}

                    </div>


</ul>
        </div>
        <div class="spotDetail">
            <div class="list-nav">足彩301<span class="more">更多</span></div>
            <ul class="list" v-for="yq in zucai">
                <li>
                    <div class="tit">
                        <i></i>
                        <span>比赛：{{yq.MatchName}}</span><span class="publisher">发布者：{{yq.Operator}}</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>开赛时间：{{yq.MatchTime }}</span>
                    </div>
                    <div class="recommend">
                        <i></i>
                        <span>推介价格：<em v-text="yq.Price"></em>V币</span>
                        <p><a href="#" class="button button-fill button-danger">购买 </a></p>
                    </div>
                    @*<div class="tip" >
                        推荐度
                        <i class='star'></i>

                    </div>*@
                    <div class="tip">

                        {{{yq.LevelStr}}}

                    </div>


            </ul>
        </div>
    </div>
    <!-- <nav class="bar bar-tab">
        <a v-bind:href="tab.href"
           class="tab-item {{tab.active?'active':''}}"
           v-for="tab in tabs">
            <i class="{{tab.icon}} {{tab.active?'press':''}}"></i>
            <span class="tab-label" v-text="tab.text"></span>
        </a>
    </nav> -->

</div>



<script type="text/javascript">
    (function (Vue, $, api) {
        window.vm = new Vue({
            el: '#index',
            data: {
                banners: [],
                tabs: [
                    { icon: 'icon shouye', text: '首页', active: true, href: 'index.html' },
                    { icon: 'icon dingdan', text: '订单', href: 'order.html' },
                    { icon: 'icon wode', text: '我的', href: 'profile.html' }
                ],
                yangqiu: [],
                jingcai: [],
                zucai: []
            },
            methods: {
                banners$$load: function () {
                    //$.showIndicator();
                    //api.get_weixin_banner().then(function (banners) {
                    //    this.banners = banners;
                    //    $.hideIndicator();
                    //}.bind(this), function (e) {
                    //    $.alert(e);
                    //    $.hideIndicator();
                    //});
                    api.promote('让球').then(function (data) {
                        this.yangqiu = data;
                        $.hideIndicator();
                    }.bind(this), function (e) {
                        $.alert(e);
                        $.hideIndicator();
                    });
                    api.promote('竞彩').then(function (data) {
                        this.jingcai = data;
                        $.hideIndicator();
                    }.bind(this), function (e) {
                        $.alert(e);
                        $.hideIndicator();
                    });
                    api.promote('足彩310').then(function (data) {
                        this.zucai = data;
                        $.hideIndicator();
                    }.bind(this), function (e) {
                        $.alert(e);
                        $.hideIndicator();
                    });

                }
            },
            ready: init(function () {
                $.scope().banners$$load();
            })
        });
    })(Vue, Zepto, jQuery.api);</script>