@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}


<div class="page" id="index">
    <header class="bar bar-nav">
        <h1 class="title button-fill button-danger" v-text="raceType"></h1>

    </header>
    <div class="vip content">
        
        <div class="spotDetail">
            <ul class="list" v-for="yq in items">
                <li>
                    <div class="tit">
                        <i></i>
                        <span>比赛：{{yq.MatchName}}</span><span class="publisher">发布者：{{yq.Operator}}</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>开赛时间：{{yq.MatchTime }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState==true">
                        <i></i>
                        <span>推介：{{{yq.Content }}}</span>
                    </div>
                    <div class="analysis" v-if="yq.BuyState==true">
                        <i></i>
                        <span>分析：{{yq.Result }}</span>
                    </div>
                    <div class="recommend" v-if="yq.BuyState==false">
                        <i></i>
                        <span v-if="yq.PromoteType==1">
                            价格：<em>{{yq.Price}}</em>
                            V币
                        </span>
                        <span v-else>
                            价格：<em>{{yq.Integral}}</em>
                            积分
                        </span>
                        <p  v-on:click="buyPromote(yq.Id)" ><a href="#" class="button button-fill button-danger">购买 </a></p>
                    </div>
                    <div class="tip">

                        {{{yq.LevelStr}}}

                    </div>
                </li>

            </ul>
        </div>
        
        
    </div>
   

</div>



<script type="text/javascript">
    (function (Vue, $, api) {
        window.vm = new Vue({
            el: '#index',
            data: {
                items: [],
            },
            methods: {
                pageload: function (raceType, promoteType) {

                    api.promoteAll(raceType, promoteType).then(function (data) {
                        this.items = data;
                        if (raceType == 1) {
                            this.raceType = "专业推介-让球";
                        }
                        else if (raceType == 2) {
                            this.raceType = "专业推介-竞彩";
                        }
                        else if (raceType == 3) {
                            this.raceType = "专业推介-足彩310";
                        }
                        
                        $.hideIndicator();
                    }.bind(this), function (e) {
                        $.alert(e);
                        $.hideIndicator();
                    });
                },
                buyPromote: function (promoteId) {
                    if (!confirm("确定要购买吗？")) {
                        return false;
                    }
                    api.buyPromote(promoteId).then(function (data) {
                        alert(data);
                        $.scope().banners$$load();
                        $.hideIndicator();
                    }.bind(this), function (e) {
                        $.alert(e);
                        $.hideIndicator();
                    });
                }
            },
            ready: init(function () {
                $.scope().pageload(window.getParam('raceType'), window.getParam('promoteType'));
            })
        });
    })(Vue, Zepto, jQuery.api);</script>