@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}


<div class="vip content page" id="expert">
    <ul class="expert cls">
        <li>
            <a href="javascript:void(0);">
                <span class="img">
                    <em><img src="http://wx.img.6383.com/ImgServer/Down?id=be9f43a2-0a65-451b-937b-988e194077c6"></em>
                </span>
                <span>何辉</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="img">
                    <em><img src="http://wx.img.6383.com/ImgServer/Down?id=be9f43a2-0a65-451b-937b-988e194077c6"></em>
                </span>
                <span>何辉</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="img">
                    <em><img src="http://wx.img.6383.com/ImgServer/Down?id=be9f43a2-0a65-451b-937b-988e194077c6"></em>
                </span>
                <span>何辉</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="img">
                    <em><img src="http://wx.img.6383.com/ImgServer/Down?id=be9f43a2-0a65-451b-937b-988e194077c6"></em>
                </span>
                <span>何辉</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="img">
                    <em><img src="http://wx.img.6383.com/ImgServer/Down?id=be9f43a2-0a65-451b-937b-988e194077c6"></em>
                </span>
                <span>何辉</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="img">
                    <em><img src="http://wx.img.6383.com/ImgServer/Down?id=be9f43a2-0a65-451b-937b-988e194077c6"></em>
                </span>
                <span>何辉</span>
            </a>
        </li>
    </ul>
</div>


<script type="text/javascript">
(function (Vue, $, api) {
    var vm = new Vue({
        el: '#expert',
        data: {
            loginInfo: {}
        },
        methods: {
            getExInfo: function () {
                $.showIndicator();
                api.get_exinfo().then(function (result) {
                    this.banners = banners;
                    $.hideIndicator();
                }.bind(this), function (e) {
                    $.alert(e);
                    $.hideIndicator();
                });
            }
        },
        ready: init(function () {
            $.scope().getExInfo();
        })
    });
})(Vue, Zepto, jQuery.api);</script>