@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}


<div class="spotDetail content" id="recommend">
    <div class="hd">
        <div class="tit">
            <span>欧精孖宝</span>
        </div>
        <div class="txt">新赛季顶级赛事单场绝杀，由粤港名家广体频道英超中超主播何辉主理，凭多年评述经验对球队技战术了如指掌，协您把握16-17赛季黄金赢波时机，享受更多赢波乐趣！</div>

        <div class="img">
            <img src="http://zq.6383.com/global/images/PowerImg/180.gif">
        </div>
    </div>
    <div class="list ">
        <div class="noBuy">
            <div class="tip">
                推荐度
                <i class="star"></i>
                <i class="star"></i>
                <i class="star"></i>
                <i class="star"></i>
                <i class="star"></i>
                <i class="star"></i>
                <i class="sj"></i>
            </div>
            <div class="txt">
                <b class="time">2017/3/27 02:45&nbsp;&nbsp;开赛</b>
                <em>正在发布中...</em>
            </div>
            <a href="javascript:void(0);" class="btn">购买</a>
            <a href="javascript:void(0);" class="btn" style="display: none;">购买</a>
        </div>
        <dl>
            <dt style="text-align: center">
                2017/3/25 3:45:00&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="right"></i>
            </dt>
            <dd>
                <ul>
                    <li class="tit">
                        <i>
                        </i>
                        <span>欧预选:克罗地亚VS乌克兰</span>
                    </li>
                    <li class="time">
                        <i>
                        </i>
                        <span>开赛时间：2017/3/25 3:45:00</span>
                    </li>
                    <li class="recommend">
                        <i>
                        </i>
                        <span>推介：克罗地亚(-1)</span>
                    </li>
                    <li class="analysis">
                        <i>
                        </i>分析：克罗地亚阵容实力在乌克兰之上，本仗有望取得一场胜仗
                    </li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt style="text-align: center">2017/3/24 7:30:00&nbsp;&nbsp;&nbsp;&nbsp;</dt>
            <dd>
                <ul>
                    <li class="tit">
                        <i>
                        </i>
                        <span>南美预:阿根廷VS智利</span>
                    </li>
                    <li class="time">
                        <i>
                        </i>
                        <span>开赛时间：2017/3/24 7:30:00</span>
                    </li>
                    <li class="recommend">
                        <i>
                        </i>
                        <span>推介：阿根廷(-1.25)</span>
                    </li>
                    <li class="analysis">
                        <i>
                        </i>分析：阿根廷最近面对智利都占不了多少便宜，不过本仗坐镇主场的情况下，有望取胜
                    </li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt style="text-align: center">2017/3/24 7:30:00&nbsp;&nbsp;&nbsp;&nbsp;</dt>
            <dd>
                <ul>
                    <li class="tit">
                        <i>
                        </i>
                        <span>南美预:阿根廷VS智利</span>
                    </li>
                    <li class="time">
                        <i>
                        </i>
                        <span>开赛时间：2017/3/24 7:30:00</span>
                    </li>
                    <li class="recommend">
                        <i>
                        </i>
                        <span>推介：阿根廷(-1.25)</span>
                    </li>
                    <li class="analysis">
                        <i>
                        </i>分析：阿根廷最近面对智利都占不了多少便宜，不过本仗坐镇主场的情况下，有望取胜
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>


<script type="text/javascript">
    (function (Vue, $, api) {
        window.vm = new Vue({
            el: '#news',
            data: {
                user:{},
                promotes: []
            },
            methods: {
                pageload: function (id) {
                    //$.showIndicator();
                    api.getUserPromote(id).then(function (data) {
                        this.user = data;
                        this.promotes = data.PromoteList;
                        $.hideIndicator();
                    }.bind(this), function (msg) {
                        $.hideIndicator();
                        $.alert(msg);
                    });
                },
            },
            ready: init(function () {
                $.scope().pageload(window.getParam('id'));

            })
        });
    })(Vue, Zepto, jQuery.api);</script>
