@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}

<div class="page" id="address-form">
    <header class="bar bar-nav">
        <h1 class="title button-fill button-danger">商品购买信息</h1>
    </header>
    <div class="content">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">数量:</div>
                            <div class="item-input">
                                <input type="text" v-model="address.qty" placeholder="输入需要兑换的产品数量">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">尺码:</div>
                            <div class="item-input">
                                @*<select id="Size" name="Size">
                                    @{foreach (var item in ViewBag.SizeList)
                                    {
                                        <option value="@item">@item</option>
                                    }}
                                </select>*@
                                <select v-model="size">
                                    <option v-for="option in sizeList" v-bind:value="option">
                                        {{option}}
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">收件人:</div>
                            <div class="item-input">
                                <input type="text" v-model="address.contactor" placeholder="输入您的姓名">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">手机号码:</div>
                            <div class="item-input">
                                <input type="tel" v-model="address.mobile" placeholder="输入您的手机号码">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">详细地址</div>
                            <div class="item-input">
                                <input type="text" v-model="address.doorplate" placeholder="输入详细联系地址">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">邮政编号:</div>
                            <div class="item-input">
                                <input type="text" v-model="address.mCode" placeholder="输入邮政编号如：510000">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <a v-on:click="address$$submit()" class="button button-fill button-big button-danger">
                确定
            </a>
        </div>
    </div>
</div>


<script type="text/javascript">
    (function (Vue, $, api) {
        window.vm = new Vue({
            el: '#address-form',
            data: {
                address: {},
                size:'',
                sizeList:[]
            },
            methods: {
                address$$submit: function () {
                    //var index = layer.open({type: 2,shadeClose:false});
                    var self = this;
                    if (!this.address.contactor || !this.address.mobile || !this.address.doorplate || !this.address.qty || this.size =='') {
                        return $.toast('请输入完整的收件信息');
                    } else {
                        var index = layer.open({type: 2,shadeClose:false});
                        api.addOrder(self.address.qty,
                            self.address.contactor,
                            self.address.mobile,
                            self.address.mCode,
                            self.address.doorplate,
                            getParam('id'),
                            self.address.size
                            ).then(function(data) {
                            layer.close(index);
                            WechatAlert(data);
                        }, function(msg) {
                            alert(msg);
                        });
                    }
                },
                address$$load: function (id) {
                    var index = layer.open({type: 2,shadeClose:false});
                    api.getGoodsSize(id).then(function (data) {
                        this.sizeList = data;
                        layer.close(index);
                    }.bind(this), function (e) {
                        $.alert(e);
                        layer.close(index);
                    });
                }
            },
            ready: init(function () {
                $.scope().address$$load( getParam('id'));
               

            })
        });
    })(Vue, Zepto, jQuery.api);
</script>
