@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

<script>
    $("#easyui-rtljs").remove();
    $("#easyui-rtlcss").remove();
    $(function () {
        $("input[type=text]").validatebox();
        $('#tabs').tabs({
            border: false,
            onSelect: function (title, index) {
                $("input[name='filter']").val("");
                _searchFn(title);
            }
        });
        Search();
    });

    function _search() {
        var _title = $('#tabs').tabs('getSelected').panel('options').title;
        if (_title == "充值金额") {
            Search();
        } else {
            
        }
    }

   function LoatRule() {
       BaseHelper.loadform("form1", "/BaseData/GetRule", function (data) {
           loadTips.hideLoadind();
       });
   }

    function Search() {
      
        var validate = $("#form1").form('validate');
        if (!validate) {
            return;
        } else {
            $("#dg").datagrid({
                url: "/BaseData/GetList",
                onLoadError: function (data) {
                    BaseHelper.ShowException(data);
                }
            });
        }
    }

    function Refresh() {
        layer.closeAll();
        Search();
    }

    function Update(value, row) {
        var result = "<a href='javascript:void(0)' onclick='UpSetPayAmount(\"" + row.Id + "\")'>编辑</a>  ";
        result += "<a href='javascript:void(0)' onclick='DelPayAmount(\"" + row.Id + "\")'>删除</a>  ";

        return result;

    }

 
 

    function DelPayAmount(id) {
        $.messager.confirm('温馨提示', '确定要删除数据吗？', function (r) {
            if (r) {
                $.ajax({
                    type: "post",
                    url: "/BaseData/DeletePayAmount",
                    data: { id: id },
                    success: function (data) {
                        if (data) {
                            alert("操作成功", "success", function () {
                                Search();
                            });
                        } else {
                            alert("操作失败", "error");
                        }
                    }
                });
            }
        });
    }

    function UpSetPayAmount(id) {
        var url = "/BaseData/UpSet?id=" + id;
        var title = '添加';
        if (id > 0) {
            title = '修改';
        }

        $.layer({
            scrolling: 'auto',
            type: 2,
            title: title,
            iframe: {
                src: url
            },
            area: ['500px', '400px']
        });
    }

    function Submit() {
        if (!$("#form1").form('validate')) {
            return false;
        }


        $("#id").val(id);
        loadTips.showLoading();
        var url = "/BaseData/UpdateRule";
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async: true,
            data: $("#form1").serialize(),
            success: function (data) {
                loadTips.hideLoadind();
                alert(data.message);
                if (data.success) {
                    parent.Search();
                    parent.layer.closeAll();
                }
            },
            error: function (data) {
                BaseHelper.ShowException(data);
            }
        });
    }
</script>

<form id="form1" class="easyui-doc-padding">
    <div id="toolbar">
        <div class="easyui-filter">
            <table>
                <tr>
                    
                    <td>
                        <a id="btnCreate" href="javascript:;" class="l-btn" onclick="UpSetPayAmount(0)">
                            <span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">添加</span><span class="l-btn-icon icon-redo">&nbsp;</span></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="easyui-tabs" style="margin-bottom: 2px; min-width: 1000px; width: 100%;" id="tabs">
        <div title="充值金额" class="easyui-doc-padding">
            <table id="dg" class="easyui-datagrid" title="" style="width:100%;min-height:350px;"
                   data-options="rownumbers:true,singleSelect:true,pagination:true,method:'post',pageSize:10,toolbar:'#toolbar'">
                <thead>
                    <tr>
                        <th data-options="field:'BaseAmount',width:'10%',resizable:false,align:'left'">基础金额</th>
                        <th data-options="field:'CalType',width:'10%',resizable:false,align:'left'">计算类型</th>
                        <th data-options="field:'GiveAmount',width:'30%',resizable:false,align:'left'">赠送金额</th>
                        <th data-options="field:'CreateTime',width:'10%',resizable:false,align:'left'">创建时间</th>
                        <th data-options="field:'Id',width:'15%',formatter:Update">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
        
        <input type="hidden" id="id" name="id" />
        <div title="退还V币" class="easyui-doc-padding">
            <table class="easyui-doc-table">
                <tr>
                    <td>
                        退还比例
                    </td>
                    <td>
                        <input type="text" id="Numerical" name="Numerical" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" required="true" />%
                    </td>
                </tr>
           
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a href="javascript:;" class="easyui-linkbutton" iconcls="icon-ok" id="submitform" onclick="Submit()">保存</a>
                    </td>
                </tr>

            </table>
        </div>
    </div></form>
