@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}

<div class="news content-padded content page" id="news">
    <h3 class="news-tit">大腿桑切斯保留了阿森纳夺冠的希望</h3>
    <div class="news-update">
        <b>发布时间：</b><span>2017-03-28</span>
    </div>
    <div class="news-content">
        <div class="fon">
            <p>如果没有桑切斯，没人知道阿森纳会变成什么样子。</p><p style="text-align: center"><img src="http://www.6383.com/Uploads/Editor/20161206/58468b614dc7b.jpg" title="201612041619135892.jpg" width="100%"></p><p><br></p><p>阿森纳从来都学不会杀死比赛。多少次了，枪手似乎已经忘了在最后时刻去考验考验对方门将。十一月份没有一支队伍的射正次数比枪手更低了，仅有7次。虽然其中5次转换成了进球，但这个数据可不是擅长射门的枪手应该有的。</p><p><br></p><p>看起来十二月的一开始也会同样如此，温格的队伍在客场浪费了数次机会后，只不过1-0领先西汉姆结束上半场，许多次极具威胁的传中最后都是滑门而过，而他们需要做的只是轻轻碰一下而已。</p><p><br></p><p>圣诞节前主队再一次将进球拱手相送，作为客队的开门红。奥邦纳送出一脚低质量的回传给到里德，而科奎林轻松地就将其封堵，从而让桑切斯创造了进球。</p><p><br></p><p>这个机会太容易了，即使是肆意挥霍机会的阿森纳也不可能踢飞。弗里德跑向兰多夫以挽回错误——2对1——智利人轻推左侧找到了厄齐尔，后者将球送入网窝总算打破了僵局，之前张伯伦至少有三次漂亮的传中，结果都无疾而终。</p><p>&nbsp;</p><p>如果桑切斯没能吹响进攻的号角，并在下半场上演帽子戏法，那比赛最终很有可能失控。</p><p><br></p><p>桑切斯对阵西汉姆桑切斯的数据：</p><p>5次射门、创造5次机会、3次过人、3球、1助</p><p>&nbsp;</p><p>没有办法把握机会也不能全怪卡索拉的缺阵。的确，西班牙人在队时他们更为出色，但面对西汉姆枪手创造出了许多机会。</p><p><br></p><p>本赛季西汉姆表现得相当慢热，或许受到客队浪费机会的鼓舞，比利奇的队伍在下半场伊始便如梦初醒。这是个普遍现象，当一支狂轰滥炸的队伍没有给对手造成实质性的伤害，那么自然不会让人心服口服。</p><p><br></p><p>重新回到场上的客队信心重燃，就像《低俗小说》里的朱尔斯-维尼菲尔德，在枪林弹雨中顿悟新生——电影里，他遭到满膛手枪的袭击，但每颗子弹都偏离目标，飞向他身后的墙壁上。枪手始终没能终结比赛，或是说没有火力全开，给到对手类似的信心可是相当危险的。</p><p><br></p><p>本赛季前期枪手锋线还算喜人，不过眼下枪手似乎就要因为一系列的倒退而受到惩罚，但桑切斯依旧是那个保持在最高水平的大腿。当他的伙伴们无力扣动扳机时，他再一次挺身而出拉开了进球大闸。<br></p><p><br></p><p>72分钟他收获了首球 ，客队的心理包袱瞬间烟消云散。智利人随后又打入两球，包括一记石破天惊的抽射锁定胜局和一次体现他速度的大步流星。阿森纳半场领先，但领先得有点运气。他们离开伦敦碗时则是一场5-1的胜利，张伯伦一整晚在边路发挥得可圈可点，进球对他也算是种褒奖。</p><p><br></p><p>如果没有桑切斯，情况可能就完全不一样了。如果枪手没在第72分钟把握住机会的话，那么西汉姆就有可能扳平比分。</p><p><br></p>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function (Vue, $, api) {
        window.vm = new Vue({
            el: '#newsList',
            data: {
                news: []
            },
            methods: {
                pageload: function () {
                    //$.showIndicator();
                    api.get_newslist("即时新闻").then(function (data) {
                        this.news = data;
                        $.hideIndicator();
                    }.bind(this), function (msg) {
                        $.hideIndicator();
                        $.alert(msg);
                    });
                },
            },
            ready: init(function () {
                $.scope().pageload(window.getParam('id'));

            })
        });
    })(Vue, Zepto, jQuery.api);</script>
