@{
    Layout = "~/Views/Shared/WechatPage.cshtml";
}

<div class="news content-padded content page" id="news">
    <h3 class="news-tit" v-text="news.Title"></h3>
    <div class="news-update">
        <b>发布时间：</b><span v-text="news.CreateTime">
        </span>
    </div>
    <div class="news-content">
        <div class="fon">
            {{{ news.Content }}}
        </div>
    </div>
</div>

<script type="text/javascript">
    (function (Vue, $, api) {
        window.vm = new Vue({
            el: '#news',
            data: {
                news: []
            },
            methods: {
                pageload: function (id) {
                    //$.showIndicator();
                    api.get_newsdetail(id).then(function (data) {
                        this.news = data;
                        $.hideIndicator();
                    }.bind(this), function (msg) {
                        $.hideIndicator();
                        $.alert(msg);
                    });
                },
            },
            ready: init(function () {
                $.scope().pageload(window.getParam('id'));

            })
        });
    })(Vue, Zepto, jQuery.api);</script>
