@{
    Layout = "~/Views/Shared/_Page.cshtml";
}
<script>
    var id = "@Request.QueryString["Id"]";
    $(function () {
        if (id > 0) {
            loadTips.showLoading();
            BaseHelper.loadform("form1", "/Match/GetMatch?id=" + id, function (data) {
                loadTips.hideLoadind();
            });
        }
    })

    function Submit() {
        if (!$("#form1").form('validate')) {
            return false;
        }


        $("#id").val(id);
        loadTips.showLoading();
        var url = "/Match/UpSetMatch";
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async: true,
            data: $("#form1").serialize(),
            success: function (data) {
                loadTips.hideLoadind();
                alert(data.message);
                if (data.success) {
                    parent.Search();
                    parent.layer.closeAll();
                }
            },
            error: function (data) {
                BaseHelper.ShowException(data);
            }
        });
    }

</script>

<form id="form1" class="easyui-doc-form">

    <input type="hidden" id="id" name="id" />

    <table class="easyui-doc-table">
        <tr>
            <td>
                主队
            </td>
            <td>
                <input type="text" id="TeamA" name="TeamA" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写主队名称" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                客队
            </td>
            <td>
                <input type="text" id="TeamB" name="TeamB" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写客队名称" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                盘口数据
            </td>
            <td>
                <input type="text" id="Dish" name="Dish" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写盘口数据" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                比赛地点
            </td>
            <td>
                <input type="text" id="Venue" name="Venue" style="padding-left:5px; line-height:20px;" class="easyui-validatebox textbox" missingmessage="请填写比赛地点" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                比赛时间
            </td>
            <td>
                <input type="text" id="MatchTime" name="MatchTime" style="padding-left:5px; line-height:20px;" class="easyui-datetimebox" missingmessage="请填写比赛时间" required="true" />
            </td>
        </tr>
      
        <tr>
            <td colspan="2" style="text-align: center;">
                <a href="javascript:;" class="easyui-linkbutton" iconcls="icon-ok" id="submitform" onclick="Submit()">保存</a>
            </td>
        </tr>

    </table>
  
</form>
