@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

<script>
    $("#easyui-rtljs").remove();
    $("#easyui-rtlcss").remove();
    $(function () {
        $("input[type=text]").validatebox();
        Search();
    });

    function Search() {
        var tabHeight = $(window).height();
        var name = encodeURI($("#UserName").val());
        var validate = $("#form1").form('validate');
        if (!validate) {
            return;
        } else {
            $("#dg").datagrid({
                url: "/Goods/GetList?"+ $("#form1").serialize(),
                onLoadError: function (data) {
                    BaseHelper.ShowException(data);
                }
            });
        }
    }

    function Update(value, row) {
        var result = "<a href='javascript:void(0)' onclick='UpSetGoods(\"" + row.Id + "\")'>编辑</a>  ";
        result += "<a href='javascript:void(0)' onclick='DelGoods(\"" + row.Id + "\")'>删除</a>  ";

        return result;

    }

    function DelGoods(id) {

        $.messager.confirm('温馨提示', '确定要删除货物吗？', function (r) {
            if (r) {
                $.ajax({
                    type: "post",
                    url: "/Goods/DeleteGoods",
                    data: { id: id },
                    success: function (data) {
                        if (data) {
                            alert("操作成功", "success", function () {
                                Search();
                            });
                        } else {
                            alert("操作失败", "error");
                        }
                    }
                });
            }
        });
    }

    function UpSetGoods(id) {
        var url = "/Goods/UpSet?id=" + id;
        var title = '添加货物';
        if (id > 0) {
            title = '修改货物';
        }

        $.layer({
            scrolling: 'auto',
            type: 2,
            title: title,
            iframe: {
                src: url
            },
            area: ['500px', '400px']
        });
    }
</script>

<form id="form1" class="easyui-doc-padding">
    <div id="toolbar">
        <div class="easyui-filter">
            <table>
                <tr>

                    <td>货物名称:</td>
                    <td><input type="text" id="GoodsName" class="easyui-doc-textbox"  maxlength="20" /></td>
                    <td>
                        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
                        <a id="btnCreate" href="javascript:;" class="l-btn" onclick="UpSetGoods(0)">
                            <span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">添加</span><span class="l-btn-icon icon-redo">&nbsp;</span></span>
                        </a>
                    </td>


                </tr>
            </table>
        </div>
    </div>

    <div class="easyui-doc-padding">
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;min-height:350px;"
               data-options="rownumbers:true,singleSelect:true,pagination:true,method:'post',pageSize:10,toolbar:'#toolbar'">
            <thead>
                <tr>
                    <th data-options="field:'GoodsName',width:'10%',resizable:false,align:'left'">货物名称</th>
                    <th data-options="field:'Integral',width:'10%',resizable:false,align:'left'">所需积分</th>
                    <th data-options="field:'CreateTime',width:'10%',resizable:false,align:'left'">创建时间</th>
                    <th data-options="field:'Quantity',width:'10%',resizable:false,align:'left'">数量</th>
                    <th data-options="field:'Id',width:'15%',formatter:Update">操作</th>
                </tr>
            </thead>
        </table>


    </div>
</form>
