@{
    Layout = "~/Views/Shared/_Page.cshtml";
}
<script>
    var id = "@Request.QueryString["Id"]";
    var openId = "@Request.QueryString["openId"]";


   
    function Submit() {
        if (!$("#form1").form('validate')) {
            return false;
        }


        $("#id").val(id);
        $("#openId").val(openId);
        loadTips.showLoading();
        var url = "/Customer/UpdateCustomer";
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async: true,
            data: $("#form1").serialize(),
            success: function (data) {
                loadTips.hideLoadind();
                alert(data.message);
                if (data.success) {
                    parent.Search();
                    parent.layer.closeAll();
                }
            },
            error: function (data) {
                BaseHelper.ShowException(data);
            }
        });
    }

</script>

<form id="form1" class="easyui-doc-form">

    <input type="hidden" id="id" name="id" />
    <input type="hidden" id="openId" name="openId" />

    <table class="easyui-doc-table">
        <tr>
            <td>
                回复
            </td>
            <td>
                <input id="Answer" name="Answer" style="width:200px;height:200px;" class="easyui-textbox" data-options="multiline:true" required="true" />
            </td>
        </tr>
     
        <tr>
            <td colspan="2" style="text-align: center;">
                <a href="javascript:;" class="easyui-linkbutton" iconcls="icon-ok" id="submitform" onclick="Submit()">保存</a>
            </td>
        </tr>

    </table>

</form>
