@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

<script>
    $("#easyui-rtljs").remove();
    $("#easyui-rtlcss").remove();
    $(function () {
        $("input[type=text]").validatebox();
        Search();
    });

    function Search() {
        var tabHeight = $(window).height();
        var name = encodeURI($("#UserName").val());
        var validate = $("#form1").form('validate');
        if (!validate) {
            return;
        } else {
            $("#dg").datagrid({
                url: "/Customer/GetList?title=" + $("#Title").val(),
                onLoadError: function (data) {
                    BaseHelper.ShowException(data);
                }
            });
        }
    }

    function Refresh() {
        layer.closeAll();
        Search();
    }

  

    function Update(value, row) {
        var result = "<a href='javascript:void(0)' onclick='Answer(\"" + row.Id + "\")'>回答</a>  ";
        result += "<a href='javascript:void(0)' onclick='DeleteCustomer(\"" + row.Id + "\")'>删除</a>  ";
     
        return result;
    }

    function Image(value, row) {
        return "<img id='TitleImageUrl' width='200' height='100' src = \"" + row.TitleImageUrl + "\"/>";
    }

    function DeleteCustomer(id) {

        $.messager.confirm('温馨提示', '确定要删除问题吗？', function (r) {
            if (r) {
                $.ajax({
                    type: "post",
                    url: "/Customer/DeleteCustomer",
                    data: { id: id },
                    success: function(data) {
                        if (data) {
                            alert("操作成功", "success", function() {
                                Search();
                            });
                        } else {
                            alert("操作失败", "error");
                        }
                    }
                });
            }
        });
    }


    function Answer(id) {
        var url = "/Customer/Answer?id=" + id;
        var title = '回答'
    
        $.layer({
            scrolling: 'auto',
            type: 2,
            title: title,
            iframe: {
                src: url
            },
            area: ['500px', '400px']
        });
    }
</script>

<form id="form1" class="easyui-doc-padding">
    <div id="toolbar">
        <div class="easyui-filter">
            <table>
                <tr>

                    <td>标题:</td>
                    <td><input type="text" id="Title" class="easyui-doc-textbox" validtype="Title" maxlength="20" /></td>
                    <td>
                        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="Search()">查询</a>
                        
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="easyui-doc-padding">
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;min-height:350px;"
               data-options="rownumbers:true,singleSelect:true,pagination:true,method:'post',pageSize:10,toolbar:'#toolbar'">
            <thead>
                <tr>
                    <th data-options="field:'Question',width:'15%',resizable:false,align:'left'">问题</th>
                    <th data-options="field:'Answer',width:'30%',formatter:Image">回答</th>
                    <th data-options="field:'CreateTime',width:'10%',resizable:false,align:'left'">创建时间</th>
                    <th data-options="field:'AnswerTime',width:'10%',resizable:false,align:'left'">回答时间</th>

                    <th data-options="field:'Id',width:'15%',formatter:Update">操作</th>
                </tr>
            </thead>
        </table>


    </div>
</form>
